
<div class="mat-elevation-z8 data-table">
  <table mat-table class="full-width-table" matSort [dataSource]="dataSource">
    <!-- Cv Column -->
    <ng-container matColumnDef="cv">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 20px">
        <mat-form-field style="width: 250px; padding-left: 50px; color: white;">
          <mat-label style="color: white">Qualité CV</mat-label>
            <mat-select name="dispo" [formControl]="qualiFilter" style="color: white;">
              <mat-option *ngFor="let tech of Quali" [value]="tech.value" style="color: white; background-color: #ff9b30" >
                {{tech.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element"><img src="../../assets/{{element.quali}}.png" style="width: 30%; height: 110%;"></td>
    </ng-container>

    <!-- Nom Column -->
    <ng-container matColumnDef="Nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 20px" >Nom</th>
      <td mat-cell *matCellDef="let element">{{element.Nom}}</td>
    </ng-container>

    <!-- Prénom Column -->
    <ng-container matColumnDef="Prenom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 20px">Prénom</th>
      <td mat-cell *matCellDef="let element">{{element.prenom}}</td>
    </ng-container>
    <!--<button class="btn"><i class="fa fa-trash"></i> Trash</button>-->
    <!-- Titre Column -->
    <ng-container matColumnDef="Titre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 20px">
        <mat-form-field style="width: 250px; padding-left: 50px; color: white;">
          <mat-label style="color: white">Titre</mat-label>
            <mat-select name="titre" [formControl]="titreFilter" style="color: white;">
              <mat-option *ngFor="let titre of Titres" [value]="titre.value" style="color: white; background-color: #ff9b30" >
                {{titre.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{element.titre}}</td>
    </ng-container>

    <!-- Technologies Column -->
    <ng-container matColumnDef="Technologies">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 20px">
        <mat-form-field style="width: 250px; padding-left: 50px; color: white;">
          <mat-label style="color: white">Technologies</mat-label>
            <mat-select name="dispo" [formControl]="nameFilter" style="color: white;">
              <mat-option *ngFor="let tech of Techs" [value]="tech.value" style="color: white; background-color: #ff9b30" >
                {{tech.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{element.Technologies}}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="Disponibilite">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 20px">
          <mat-form-field style="width: 250px; padding-left: 50px; color: white;">
            <mat-label style="color: white">Date Disponibilité</mat-label>
              <mat-select name="dispo" [formControl]="dispoFilter" style="color: white;">
                <mat-option *ngFor="let tech of Dispo" [value]="tech.value" style="color: white; background-color: #ff9b30" >
                  {{tech.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let element">{{element.dispo}}</td>
    </ng-container>

    <!-- Clients Column -->
    <ng-container matColumnDef="Clients">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 20px">
        <mat-form-field style="width: 250px; padding-left: 50px; color: white;">
          <mat-label style="color: white">Clients</mat-label>
            <mat-select name="dispo" [formControl]="clientFilter" style="color: white;">
              <mat-option *ngFor="let tech of Client" [value]="tech.value" style="color: white; background-color: #ff9b30" >
                {{tech.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{element.client}}</td>
    </ng-container>

    <!-- Modification Column -->
    <ng-container matColumnDef="Modification">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 20px">Dernière Modification</th>
      <td mat-cell *matCellDef="let element">{{element.tjm}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" (click)="selectRow(element)"  ></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>

<br><br><br><br>
