<nav class="navbar fixed-top navbar-expand-sm navbar-light" style="background-color: white">


          <ul class="navbar-nav" style="margin-left: -1.6%;">
              <li class="nav-item active" style="width: 260px;
              height: 80px;
              transform: skew(20deg);
              border: 0.1px solid rgb(192, 189, 189);
              color: black;
              background-color:orange "
              >
                <a class="nav-link" href="#" style="font-size: 35px; color:white;text-align: center; font-weight: bold;" strong>SoS Skills</a>
              </li>
        <li class="nav-item" style="width: 210px;
        height: 80px;
        transform: skew(20deg);
        border: 0.1px solid rgb(192, 189, 189);
        color: black;
        "
        >
          <a class="nav-link" href="#" style="font-size: 23px; color:rgb(110, 107, 107);text-align: center; font-weight: bold;">Espace<br> Entreprise</a>
        </li>
        <li class="nav-item" style="width: 200px;
        height: 80px;
        transform: skew(20deg);
        border: 0.1px solid rgb(192, 189, 189);
        ">
          <a class="nav-link" href="#" style="font-size: 23px; color:rgb(110, 107, 107);text-align: center; font-weight: bold;">Sourcing<br>pour un poste</a>
        </li>
        <li class="nav-item" style="width: 200px;
        height: 80px;
        transform: skew(20deg);
        border: 0.1px solid rgb(192, 189, 189);
        color: red">
          <a class="nav-link" style="font-size: 23px; color:rgb(110, 107, 107);text-align: center; font-weight: bold; margin-top: 8%" href="#">Consultant</a>
        </li>
        <li class="nav-item" style="width: 200px;
        height: 80px;
        transform: skew(20deg);
        border: 0.1px solid rgb(192, 189, 189);
        color: red">
          <a class="nav-link" style="font-size: 23px; color:rgb(110, 107, 107);text-align: center; font-weight: bold;" href="#">Liste<br>Ressources</a>
        </li>
      </ul>
    <span class="navbar-brand mb-0 h1" style="padding-left: 28%">
      <a routerLink="/Liste" class="navbar-brand">
        <i class="fas fa-home"></i>
      </a>
      <a routerLink="/Liste" class="navbar-brand">
        <i class="far fa-user-circle"></i>
        DRH-ITNS
      </a>
      <img src="../../assets/itns.jpg" style="height: 50px">
    </span>

  </nav>
