<!-- in app.component.html -->

<br><br><br>
<div class="row" >

    <div class="col-sm-5">
        <fusioncharts
        [width]="width1"
        [height]="height1"
        [type]="type1"
        [dataFormat]="dataFormat1"
        [dataSource]="dataSource1"
      >
      </fusioncharts>
    </div>
    <div class="col-sm-1">
      </div>
    <div class="col-sm-5">
        <fusioncharts
        [width]="width2"
        [height]="height2"
        [type]="type2"
        [dataFormat]="dataFormat2"
        [dataSource]="dataSource2"
      >
      </fusioncharts>
    </div>


</div>


<br><br><br>
<div class="row">

    <div class="col-sm-5">
        <fusioncharts
        [width]="width3"
        [height]="height2"
        [type]="type3"
        [dataFormat]="dataFormat3"
        [dataSource]="dataSource3"
      >
      </fusioncharts>
    </div>
    <div class="col-sm-1">
      </div>
    <div class="col-sm-5">
        <fusioncharts
        [width]="width4"
        [height]="height4"
        [type]="type4"
        [dataFormat]="dataFormat4"
        [dataSource]="dataSource4"
      >
      </fusioncharts>
    </div>
  </div>
    <br><br><br>
    <div class="row">
    <div class="col-sm-5">
        <fusioncharts
        [width]="width6"
        [height]="height6"
        [type]="type6"
        [dataFormat]="dataFormat6"
        [dataSource]="dataSource6"
      >
      </fusioncharts>
    </div>
    <div class="col-sm-1">
      </div>
    <div class="col-sm-5">
        <fusioncharts
        [width]="width7"
        [height]="height7"
        [type]="type7"
        [dataFormat]="dataFormat7"
        [dataSource]="dataSource7"
      >
      </fusioncharts>
    </div>
  </div>


  <br><br><br>
    <div class="row">
    <div class="col-sm-5">
        <fusioncharts
        [width]="width8"
        [height]="height8"
        [type]="type8"
        [dataFormat]="dataFormat8"
        [dataSource]="dataSource8"
      >
      </fusioncharts>
    </div>
    <div class="col-sm-1">
      </div>
    <div class="col-sm-5">
        <fusioncharts
        [width]="width9"
        [height]="height9"
        [type]="type9"
        [dataFormat]="dataFormat9"
        [dataSource]="dataSource9"
      >
      </fusioncharts>
    </div>
  </div>

  <br><br><br>
  <div class="row">
  <div class="col-sm-5">
      <fusioncharts
      [width]="width10"
      [height]="height10"
      [type]="type10"
      [dataFormat]="dataFormat10"
      [dataSource]="dataSource10"
    >
    </fusioncharts>
  </div>
  <div class="col-sm-1">
    </div>
  <div class="col-sm-5">
      <fusioncharts
      [width]="width11"
      [height]="height11"
      [type]="type11"
      [dataFormat]="dataFormat11"
      [dataSource]="dataSource11"
    >
    </fusioncharts>
  </div>
</div>





<br><br><br>











