<p style='font-size: 25px;font-weight: bold;text-align: center;margin-left: -200px'>Fiche consultant</p><br>
<div id="container">
  <div class="row">
   <div class="col-sm-2" >
<div class="card" style="width: 200px; height: 120px;">
  <div class="card-header" style="background-color: #ff9b30">
    <h5 style="color: white">Nom</h5>
  </div>
  <div class="card-body">
    <p style="font-size: 16px;font-weight: bold">{{this.consultant.nom}}</p>
  </div>
</div>
</div>
<div class="col-sm-2" >
<div class="card" style="width: 200px; height: 120px;">
  <div class="card-header" style="background-color: #ff9b30">
    <h5 style="color: white" >Prenom</h5>
  </div>
  <div class="card-body">
    <p style="font-size: 16px;font-weight: bold">{{this.consultant.prenom}}</p>
  </div>
</div>
</div>

<div class="col-sm-2" >
  <div class="card" style="width: 200px; height: 120px;">
    <div class="card-header" style="background-color: #ff9b30">
      <h5 style="color: white">Titre</h5>
    </div>
    <div class="card-body">
      <p style="font-size: 16px;font-weight: bold">{{this.consultant.titre}}</p>
    </div>
  </div>
  </div>

  <div class="col-sm-2" >
    <div class="card" style="width: 200px; height: 120px;">
      <div class="card-header" style="background-color: #ff9b30">
        <h5 style="color: white">Tjm</h5>
      </div>
      <div class="card-body">
        <p style="font-size: 16px;font-weight: bold">{{this.consultant.tjm}}</p>
      </div>
    </div>
    </div>

    <div class="col-sm-2" >
      <div class="card" style="width: 200px; height: 120px;">
        <div class="card-header" style="background-color: #ff9b30">
          <h5 style="color: white">Disponibilité</h5>
        </div>
        <div class="card-body">
          <p style="font-size: 16px;font-weight: bold"> {{this.consultant.dispo}}</p>
        </div>
      </div>
      </div>

</div></div>
<br><br><br>


<div id="container">
  <div class="row">
   <div class="col-sm-2" >
<div class="card" style="width: 200px; height: 120px;">
  <div class="card-header" style="background-color: #ff9b30">
    <h5 style="color: white">Telephone</h5>
  </div>
  <div class="card-body">
    <p style="font-size: 16px;font-weight: bold">{{this.consultant.tel}}</p>
  </div>
</div>
</div>
<div class="col-sm-2" >
<div class="card" style="width: 200px; height: 120px;">
  <div class="card-header" style="background-color: #ff9b30">
    <h5 style="color: white" >Email</h5>
  </div>
  <div class="card-body">
    <p style="font-size: 16px;font-weight: bold">{{this.consultant.email}}</p>
  </div>
</div>
</div>

<div class="col-sm-2" >
  <div class="card" style="width: 200px; height: 120px;">
    <div class="card-header" style="background-color: #ff9b30">
      <h5 style="color: white">LinkedIn</h5>
    </div>
    <div class="card-body">
      <p style="font-size: 16px;font-weight: bold">{{this.consultant.linkedin}}</p>
    </div>
  </div>
  </div>

</div></div>


<br><br><br>


<div id="container">
  <div class="row">
   <div class="col-sm-5" >
<div class="card" style="width: 650px; height: 220px;">
  <div class="card-header" style="background-color: #ff9b30">
    <h5 style="color: white">Observations</h5>
  </div>
  <div class="card-body">
    <p style="font-size: 16px;font-weight: bold">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
  </div>
</div>
</div>
<div class="col-sm-5" >
<div class="card" style="width: 650px; height: 220px;">
  <div class="card-header" style="background-color: #ff9b30">
    <h5 style="color: white" >Actions</h5>
  </div>
  <div class="card-body">
    <p style="font-size: 16px;font-weight: bold">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
  </div>
</div>
</div>



</div></div>
