<p style='font-size: 25px;font-weight: bold;text-align: center'>Fiche consultant</p>
<div class="example-container">
  <mat-label>Nom</mat-label>
  <mat-label style="width: 250px; padding-left: 100px">Prénom</mat-label>
  <mat-label style="width: 250px; padding-left: 100px">CV</mat-label>
  <mat-label style="width: 250px; padding-left: 100px">Disponibilité</mat-label>
  <mat-label style="width: 250px; padding-left: 100px">Qualité CV</mat-label>
</div>
<mat-label >11111111111111</mat-label>
<mat-label style="width: 2500px; display: block;float: left;">2222222222222</mat-label>
<mat-label style="width: 2500px;">aaaaaaa</mat-label>
<mat-label style="width: 2500px;">bbbbbbbbbbbb</mat-label>
<mat-label style="width: 2500px;">cccccccccccc</mat-label>

